<a href="https://colab.research.google.com/github/YusufAbdurraahman/learning-python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
nama = input("Masukkan nama anda : ")
umur = int(input("Masukkan umur anda : "))

print(f"Nama anda adalah :{nama}")
print(f"Umur anda : {umur} tahun")
print(type(umur))

Masukkan nama anda : tes
Masukkan umur anda : 18
Nama anda adalah :tes
Umur anda : 18 tahun
<class 'int'>

In [36]:
nama_depan = "Yusuf"
nama_belakang = "Abdurrahman"
umur = 18

nama_lengkap = nama_depan + " " + nama_belakang
print(nama_lengkap)

panjang_nama_depan = len(nama_depan)
print(panjang_nama_depan)

slicing = nama_depan[0:2]
print(slicing)

print(nama_depan.upper())
print(nama_depan.lower())
print(nama_lengkap.title())
print(nama_lengkap.capitalize())
print(nama_lengkap.strip())

kalimat = "i love the py"
print(kalimat.replace("py","python"))

Yusuf Abdurrahman
5
Yu
YUSUF
yusuf
Yusuf Abdurrahman
Yusuf abdurrahman
Yusuf Abdurrahman
i love the python

In [37]:
angka = int(input("Masukkan angka : "))

if angka == 0:
  print("angka ini benar")
else:
  print("angka ini salah")

Masukkan angka : 2
angka ini salah

In [38]:
def angka_awal(angka):
  def kali_dua(x):
    return x * 2

  return kali_dua(angka)
print(angka_awal(2))

4

In [39]:
def sapa(nama):
  print("hallo", nama)

sapa("Yusuf")

hallo Yusuf

In [40]:
def hitung_luas_lingkaran(radius):
  pi = 3.14159
  luas = pi * radius * radius
  return luas

luas1 = hitung_luas_lingkaran(2)
print(luas1)

12.56636

In [41]:
# kalkulator mini

import math

def tambah(a, b):
  return a + b

def kurang(a, b):
  return a - b

def kali(a, b):
  return a * b

def bagi(a, b):
    if b == 0:
        return "Error: tidak bisa dibagi 0!"
    return a / b

def modulus(a, b):
    return a % b

def pangkat(a, b):
    return a ** b

def akar(a):
    return math.sqrt(a)

print("silahkan pilih operator")
print("1. tambah")
print("2. kurang")
print("3. kali")
print("4. bagi")
print("5. pangkat")
print("6. akar")

pilihan = input("masukkan pilihan (1/2/3/4/5/6)")

if pilihan == "6":
  input_akar = float(input("masukkan angka : "))
  print("hasil", akar(input_akar))

else:
  input1 = int(input("Masukkan angka pertama : "))
  input2 = int(input("Masukkan angka kedua : "))

if pilihan == "1":
  print("hasil", tambah(input1,input2))

elif pilihan == "2":
  print("hasil", kurang(input1,input2))

elif pilihan == "3":
  print("hasil", kali(input1,input2))

silahkan pilih operator
1. tambah
2. kurang
3. kali
4. bagi
5. pangkat
6. akar
masukkan pilihan (1/2/3/4/5/6)2
Masukkan angka pertama : 2
Masukkan angka kedua : 2
hasil 0

In [42]:
# keyword argument

def perkenalan(nama, kota, umur):
  print("nama = ", nama)
  print("kota = ", kota)
  print("umur = ", umur)

# menggunakan argument biasa
perkenalan("Yusuf", "test", 18)

# menggunakan keyword argument
perkenalan(kota = "testing", nama = "yusuf", umur = 18)

nama =  Yusuf
kota =  test
umur =  18
nama =  yusuf
kota =  testing
umur =  18

In [43]:
def cetak_list(*list):
  for l in list:
    print(l)

cetak_list(1,2,3,4,5,6)

1
2
3
4
5
6

In [44]:
def cetak_dict(**dict):
  for key, value in dict.items():
    print(f"{key} : {value}")

cetak_dict(nama="yusuf")

nama : yusuf